# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
local.properties
keystore.properties

# macOS specific files
.DS_Store

# Keystore files
my-release-key.jks  
*.keystore
